.abt {
  margin-top: 5%;
  width: 70%;
  margin-bottom: 10%;
  margin-left: 18%;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}



.ttabt {
  background: url(https://images.unsplash.com/photo-1615461065624-21b562ee5566?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=896&q=80)
    no-repeat;
  background-size: cover;
}

#carouselExampleControls {
  margin-bottom: 5%;
}

.imgvm {
  height: 400px;
  margin-bottom: 5%;
}
