/* .don-w {
  width: 60%;
  margin-top: 70px;
  margin-left: 250px;
} */

.form {
  background: rgb(255, 91, 91);
  padding: 10px 20px;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  text-align: center;
}
.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  /* position: relative; */
}

.reg {
  color: #001f60;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
  margin-top: 15px;
}

.container {
  margin-top: 50px;
  border-bottom: 1px solid green;
}

.text-center {
  margin-top: 20px;
}

.parallax {
  /* The image used */
  /* background-image: url('/images/slider2.jpg'); */

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
