.nav {
  height: 15vh;
  background-color: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.973);
}

.nav-link {
  color: black;
  text-decoration: none;
}

.navbar {
  height: 4.5vh;
}

.navbar-brand > img {
  width: 70px;
  height: 7vh;
  margin-bottom: 5px;
}
