/* .register {
  background-color: hsl(210, 36%, 96%);
  height: 100vh;
  padding: 10px 20px;
  width: 100%;
  margin-top: 200px;
} */

/* .form {
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-left: 150px;
  text-align: center;
}
.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  /* position: relative; */

.container {
  width: 80vw;
  max-width: 620px;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 10px;
  margin-left: 120px;
}
.underline {
  height: 0.25rem;
  width: 5rem;
  background: blue;
  margin-left: auto;
  margin-right: auto;
}
/* .reg {
  color: #001f60;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
  margin-top: 15px;
} */

.btnrd {
  width: 200px;
  margin: 20px;
}

.btn-group {
  margin-top: 20%;
  padding: 20px;
}
.def {
  display: none;
}

@media (max-width: 375px) {
  .btnrd {
    width: 50px;
    margin: 0px;
    margin-bottom: 3px;
  }

  .btn-group {
    display: flex;
    align-items: center;
    padding: 0px;
  }
}

@media (max-width: 360px) {
  .btnrd {
    width: 90px;
    margin: 5px;
    margin-bottom: 13px;
  }

  .btn-group {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 22%;
  }
}

@media (max-width: 414px) {
  .btnrd {
    width: 90px;
    margin: 5px;
    margin-bottom: 13px;
  }

  .btn-group {
    /* display: flex;
    align-items: center; */
    padding: 0px;
    margin-left: 15%;
  }
}
