.register {
  background-color: hsl(210, 36%, 96%);
}
.form {
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  text-align: center;
}
.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.container {
  width: 80vw;
  max-width: 620px;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.underline {
  height: 0.25rem;
  width: 5rem;
  background: blue;
  margin-left: auto;
  margin-right: auto;
}
.reg {
  color: #001f60;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
  margin-top: 15px;
}
